/*.logo {*/
/*  flex: 0 0 auto;
/*}*/

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin-left: 20px;
  align-self: flex-start;
}

.login-menu {
  margin-right: 15px;
}
